@import "variables.scss";

.bg-red {
  background-color: $red;
}

.bg-orange {
  background-color: $orange;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-olive {
  background-color: $olive;
}

.bg-green {
  background-color: $green;
}

.bg-teal {
  background-color: $teal;
}

.bg-blue {
  background-color: $blue;
}

.bg-violet {
  background-color: $violet;
}

.bg-purple {
  background-color: $purple;
}

.bg-pink {
  background-color: $pink;
}

.bg-brown {
  background-color: $brown;
}

.bg-gray {
  background-color: $gray;
}

.bg-black {
  background-color: $black;
}

.bg-dark-blue {
background-color: $dark-blue;    
}

.bg-medium-blue {
background-color: $medium-blue;    
}

.bg-royal-blue {
background-color: $royal-blue;    
}

.bg-sky-blue {
background-color: $sky-blue;    
}

