// base color set
$dark-blue: #0066bb;
$medium-blue: #3366ff;
$royal-blue: #3399ff;
$sky-blue: #33ccff;

// gray color
$black: #000000;
$gray: #4a4a4a;
$dark-gray: #959595;
$light-gray: #fafafa; 

$red: #db2828;
$dark-red: #d01919;

$orange: #f2711c;
$dark-orange: #f26202;

$yellow: #fbbd08;
$dark-yellow: #eaae00;

$olive: #b5cc18;
$dark-olive: #a7bd0d;

$green: #21ba45;
$dark-green: #16ab39;

$teal: #00b5ad;
$dark-teal: #009c95;

$blue: #0066bb;
$dark-blue: #1678c2;

$violet: #6435c9;
$dark-violet: #5829bb;

$purple: #a333c8;
$dark-purple: #9627ba;

$pink: #e03997;
$dark-pink: #e61a8d;

$brown: #a5673f;
$dark-brown: #975b33;

$btn-gray: #767676;
$btn-dark-gray: #838383;

$btn-black: #1b1c1d;
$dark-black: #27292a;